@media screen and (max-width:992px) {

    /* header section  */

    .animated-header {
        display: none;
    }

    header#header {
        height: 5rem;
    }

    .p-inline-6 {
        padding-inline: 3rem;
    }

    .logo img {
        width: 5rem;
    }

    .hire-btn {
        display: none;
    }

    .navigations {
        display: none;
    }
    
    header#header span {
        display: flex;
        font-size: 40px;
    }

    /* home section starts  */
    section.home {
        height: 140vh;
    }

    section.home .container {
        padding-top: 7rem;
    }

    .home-wrapper {
        gap: 3rem;
    }

    .home-text-anim  {
        display: none;
    }

    .home-wrapper {
        flex-direction: column;
    }

    .home-wrapper .w-half {
        width: 100%;
    }

    .home-left.j-center  {
        align-items: center;
    }

    .home-left .role-of-me {
        font-size: 55px;
        line-height: 3.3rem;
        text-align: center;
        /* note this  */
    }

    .font-md {
        font-size: 16px;
        text-align: center;
    }

    .home-right .img-wrapper {
        width: 20rem;
        height: 20rem;
        transform: rotate(0);
    }

    .home-summary .details .item>h1 {
        font-size: 46px;
    }

    .home-summary .counter {
        width: 1.8rem;
        height: 4rem;
    }

    .home-summary .details .item>span {
        font-size: 14px;
    }

    .home-summary .gap-3 {
        gap: 0.5rem;
    }

    .font-sm {
        font-size: 14px;
    }

    section.services {
        height: 105vh;
    }

    section.services .container.pt-9 {
        padding-top: 4rem;
    }

    section.services .name {
        font-size: 25px;
    }

    .gap-3 {
        gap: 1.5rem;
    }

    .h1 {
        font-size: 45px;
    }

    .services .services-body .link span {
        font-size: 30px;
    }
    /* service section ends  */

    
}